TZ=Asia/Taipei

MYSQL_PORT=33066
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=product
MYSQL_USER=product
MYSQL_PASSWORD=product123

SPRING_DATASOURCE_URL=jdbc:mysql://localhost:33066/product?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&allowPublicKeyRetrieval=true&serverTimezone=Asia%2FTaipei
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=123456

REDIS_PORT=6380
REDIS_PASSWORD=123456
REDIS_MAXMEMORY=256mb
REDIS_MAXMEMORY_POLICY=allkeys-lru
REDIS_DATABASES=16
SPRING_DATA_REDIS_HOST=127.0.0.1
SPRING_DATA_REDIS_PORT=6380
SPRING_DATA_REDIS_PASSWORD=123456
SPRING_DATA_REDIS_DATABASE=0
SPRING_DATA_REDIS_TIMEOUT=10000ms

TOKEN_SECRET=dev-token-secret
PRODUCT_UPLOAD_PATH=./uploadPath
PRODUCT_LOG_PATH=./logs
SERVICE_NAME=product-server
APP_ENV=local
ELASTICSEARCH_PORT=9201
KIBANA_PORT=5601
LOGSTASH_BEATS_PORT=5044
LOGSTASH_API_PORT=9600
ES_JAVA_OPTS="-Xms1g -Xmx1g"
LS_JAVA_OPTS="-Xms512m -Xmx512m"
